################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Service/StudentManagement/bin/Debug/net8.0
/src/Service/StudentManagement/obj
/src/Service/StudentManagement.Domain/bin/Debug/net8.0
/src/Service/StudentManagement.Domain/obj
/src/Service/StudentManagement.Models/bin/Debug/net8.0
/src/Service/StudentManagement.Models/obj
/src/Service/StudentManagement.Repository/obj
/src/Service/StudentManagement.UnitTests/bin
/src/Service/StudentManagement.UnitTests/obj
/src/Service/StudentManagement.Repository/bin/Debug/net8.0
/src/Service/.vs/StudentManagement
/src/Service/.vs/ProjectEvaluation
/src/Service/.vs/CopilotSnapshots/378A3B9399674243B4C1C82365CA2D88
